@model MoviesAPI.Common.PaginatedList<MoviesAPI.Models.MovieResponse>

<h1>@ViewBag.Title </h1>
<hr />



<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Title or Year: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary"  /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
        <p>
            Minimum Rate: <input type="text" name="rateFilter" value="@ViewData["rateFilter"]" />
            <input type="submit" value="Filtr" class="btn btn-primary" /> |
            <a asp-action="Index" 
                asp-route-rateFilter=""
                asp-route-currentFilter="@ViewData["CurrentFilter"]">
                Clear filters
            </a>
        </p>
    </div>
</form>
<br />

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["TitleSortParm"]"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-rateFilter="@ViewData["rateFilter"]"
   class="btn btn-secondary btn-block col-1">
    Sort
</a>
<hr />

<div class="card-deck row justify-content-center ">
    @foreach (var movie in Model)
    {
        <div class="col-auto mb-4" style="width: 17rem;">
            <div class="card-header">
                <h2 class="text-center">@movie.Title</h2>
                <hr />
                <p><text>Rok wydania:  @movie.Year</text></p>
                <p>
                    <text>
                        Gatunek:  @foreach (var genre in movie.Genres)
                        {<text> @genre&nbsp;</text>}
                    </text>
                </p>
                <p>
                    <text>
                        Ocena: @if (@movie.UsersRating > 0)
                        {
                            @movie.UsersRating
                        }
                        else
                        {
                            <text>Brak Danych</text>
                        }
                    </text>
                </p>
            </div>

            <div class="card-footer text-center">
                <form method="get" asp-action="View" asp-route-id="@movie.Id">
                    <button class="btn btn-primary">View</button>
                </form>
                <form method="get" asp-action="Edit" asp-route-id="@movie.Id">
                    <button class="btn btn-primary">Edit</button>
                </form>
                <form method="post" asp-action="Delete">
                    <input type="hidden" id="movieId" name="movieId" value="@movie.Id">
                    <input class="btn btn-danger" type="submit" name="delete" value="Delete" />
                </form>
            </div>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<hr />
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-rateFilter="@ViewData["rateFilter"]"
   class="btn btn-secondary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-rateFilter="@ViewData["rateFilter"]"
   class="btn btn-secondary @nextDisabled">
    Next
</a>